name: "Continuous Integration"

on:
  pull_request:

jobs:
  CI:
    runs-on: ubuntu-latest
    timeout-minutes: 55

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Run Tests"
        run: make test
